.center {
    text-align: center;
}

* {
    font-family: Montserrat, sans-serif;
}

nav ul{
   list-style: none;
   padding: 0;
   margin: 0;
}

nav {
    float: right;
}

li {
    display: inline;
    margin: 15px;
}

nav a {
    text-decoration: none;
    color: #F0F8FF;
}

h1 {
    background-color: #3CB371;
    color: white;
    top: 50px;
}


