@model Wartezimmer.Models.Patienten;
@{
    Layout = null;
    }
<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <nav>
        <ul>
		    <li> <a asp-action="Index"><button type="button">Home</button></a></li>
            <li> <a asp-action="PatientenListe"><button type="button">Warteraum</button></a></li>
            <li> <a asp-action="Arztsicht"><button type="button">Arzt</button> </a></li>
			<li>  <a asp-action="Eingabe"><button type="button">Arzthelfer</button></a></li>
		</ul>
	</nav>
    </head>
<body>
	<div class="center">
	<h1>Wartezimmer</h1>
	<div class="button">
        <table> 
            <tr>     
            <td><a asp-action="PatientenListe"><button type="button">Warteraum</button></a></td>
            <td><img class="wartezimmer" src="~/wz.jpg" width="300" height="200" /></td>
        </tr>
        <tr>    
            
       
            <td> <a asp-action="Arztsicht"><button type="button">Arzt</button> </a></td>
            <td><img class="arzt" src="~/arzt.gif" width="200" height="150" /></td>
        </tr>                       
          <tr><
                <td>  <a asp-action="Eingabe"><button type="button">Arzthelfer</button></a></td>
                <td> <img class="artzhelfer" src="~/sssh.jpg" width="200" height="150" /></td>                   
            </tr>
		</table>
	</div>
    </div>  
</body>
</html>
